nav {
  box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem;
  font-size: 14px;
  width: 1150px;
}
nav .container .hamburger {
  display: none;
  cursor: pointer;
}

nav .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
}
nav .container ul li {
  cursor: pointer;
  position: relative;
  /* display: inline-block; */
}
nav .container ul li .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
nav .container ul li .search {
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}
nav .container ul li .search input {
  border: none;
  outline: none;
}
nav .container ul li .search svg {
  font-size: 20px;
  z-index: 100;
}
nav .container .mobile-nav {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top: 35px;
  left: -10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

nav .container ul li:hover .dropdown-content {
  display: block;
}

nav .container ul li:hover .dropbtn {
  background-color: #3e8e41;
}
@media (max-width: 1400px) {
  nav .container {
    max-width: 1150px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  nav .container {
    width: 100%;
  }
  nav .container ul {
    display: none;
  }
  nav .container .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  nav .container .hamburger:hover {
    scale: 1.1;
  }
  nav .container .mobile-nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: -100%;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
  nav .container .mobile-nav .content {
    width: 80%;
    background: white;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  nav .container .mobile-nav .content .links {
    width: calc(90% - 1rem);
    padding: 1rem 0;
    position: relative;
  }
  nav .container .mobile-nav .content .links:hover .dropdown-content {
    display: block;
  }
  .dropdown-content {
    top: 50px;
    left: -10px;
    min-width: 80%;
  }

  nav .container .mobile-nav .content .links .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
  }
  nav .container .mobile-nav .content .links .search input {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.15rem;
    outline: none;
  }
  nav .container .mobile-nav .content .links .search input:focus {
    outline: none;
  }
  nav .container .mobile-nav .content .links .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    font-weight: bold;
  }
  nav .container .mobile-nav .title.xmark {
    position: absolute;
    top: 1rem;
    left: 82%;
    color: var(--color-white);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
  }
  nav .container .mobile-nav .title.xmark:hover {
    color: #ccc;
  }
}
